.grid {
    display: grid;
    max-width: 1300px;
    position: relative;
    margin: auto;
    gap: 15px;
    grid-template-areas: "nav nav"
                         "intro portrait"
                         "projects projects";
    grid-template-columns: 500px 800px;
    grid-template-rows: 75px 500px 150px;
    


}

nav {

    grid-area: nav;
    background-color: blue;
}

#intro {
    background-color: grey;
    grid-area: intro;
}

#portrait {
    width: auto;
    height: 500px;
    grid-area: portrait;
}

#projects {
    grid-area: projects;
    background-color: blue;
}